<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-box">
<h2>Register</h2>
<form method="POST">
<input type="text" name="username" placeholder="Username" required>
<input type="text" name="nickname" placeholder="Nickname (optional)">
<input type="email" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>

<button type="submit">Register</button>
</form>
<p>Already have account? <a href="{{ url_for('login') }}">Login</a></p>
</div>

</body>
</html>